PORT=5000
GROQ_API_KEY=gsk_your_groq_api_key_here
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/"
FRONTEND_URL="http://localhost:5173"
FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"tuk-mapping-auth","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"...","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"...","universe_domain":"googleapis.com"}'
SPREADSHEET_ID=your_google_spreadsheet_id_here
GOOGLE_SHEETS_KEY='{"type":"service_account","project_id":"tuk-mapping-system",...}'
